<launch>
	<arg name="ip" default="127.0.0.1" /> <!-- IP of the VRPN server (like Motive or Arena) -->
    <arg name="port" default="3883" /> <!-- Port of the VRPN server (default 3883) -->

	<include file="$(find kinect_skeleton_publisher)/launch/joint_publisher.launch" >
      <arg name="ip" value="$(arg ip)"/> <!-- IP of the VRPN server (like Motive or Arena) -->
      <arg name="port" value="$(arg port)"/> <!-- Port of the VRPN server (default 3883) -->
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinect_skeleton_publisher)/config/human_animation.rviz" required="true" />
</launch>
